# {{ ansible_managed }}

{% for config in unbound_configuration %}
{% for key, value in config.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% if unbound_anchor_enabled %}
    auto-trust-anchor-file: "{{unbound_anchorfile}}"
{% endif %}
{% for interface in unbound_interfaces %}
    interface: {{interface}}
{% endfor %}
{% for access_control in unbound_access_control %}
    access-control: {{access_control}}
{% endfor %}

    hide-identity: yes
    hide-version: yes

{% for private_address in unbound_private_address %}
    private-address: {{private_address}}
{% endfor %}
