# {{ ansible_managed }}

{% if unbound_forward_zone_active %}
    forward-zone:
        name: "."
{% for forward_addr in unbound_forward_zone %}
        forward-addr: {{forward_addr}}
{% endfor %}      
{% endif %}
